@import './variables.scss';

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // text-align: center;
    color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

.container-hero {
    max-width: 785px;
    margin: 0 auto;
    padding: 0 1rem;
}

img {
    max-width: 100%;
    display: block;
}


//sections style
section {
    text-align: center;
    padding: 5.75rem 0;
}

h2 {
    font-size: 2.875rem;
}

.button {
    text-align: center;
    padding: 1rem 2.5rem;
    background-color: $button-bg;
    color: white;
    font-size: 0.875;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: $button-bg-hover;
}

.hero .button:hover {
    background-color: white;
    color: $button-bg;
}

mark {
    text-decoration: none;
    background-color: transparent;
    color: $button-bg;
    font-weight: lighter;
}

section h5 {
    text-transform: uppercase;
    padding: 0.5rem 0;
    margin-bottom: 1.5rem;
}

section h2 {
    // padding: 0.5rem 0;
    margin-bottom: 5rem;
}

section .carousel {
    margin-bottom: 4rem;
    padding: 0 1rem;
    // text-align: start;
}

.row-section {
    display: flex;
    gap: 1.5rem;
}

.col-3 {
    flex-basis: calc(100% / 4);
}

.col-4 {
    flex-basis: calc(100% / 3);
}

.col-8 {
    flex-basis: calc(100% / 3 * 2);
}

.card {
    text-align: start;
}


// circles
.circle {
    border-radius: 50%;
    position: absolute;
}

.circle-small {
    width: 30px;
    height: 30px;
}

.circle-medium {
    width: 55px;
    height: 55px;
}

.circle-big {
    width: 64px;
    height: 64px;
}

.circle-1 {
    background-color: $circle-1;
    top: -30%;
    left: 40%;
}

.circle-2 {
    background-color: $circle-2;
    top: 40%;
    left: -15%;
}

.circle-3 {
    background-color: $circle-3;
    top: 65%;
    right: -10%;
}

.circle-4 {
    background-color: $circle-4;
    top: 15%;
    right: -35%;
}

.circle-5 {
    background-color: $circle-5;
    bottom: -60%;
    left: -30%;
}

.circle-6 {
    border: 5px solid $circle-6;
    top: -50%;
    left: -35%;
}

.circle-7 {
    border: 5px solid $circle-7;
    bottom: -65%;
    right: -33%;
}

.circle-8 {
    background-color: $circle-8;
    top: -97%;
    right: -35%;
}