@import './variables.scss';

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // text-align: center;
    color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}


//sections style
section {
    text-align: center;
    padding: 5.75rem 0;
}

h2 {
    font-size: 2.875rem;
}

.button {
    text-align: center;
    padding: 1rem 2.5rem;
    background-color: $button-bg;
    color: white;
    font-size: 0.875;
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

mark {
    text-decoration: none;
    background-color: transparent;
    color: $button-bg;
    font-weight: lighter;
}

section h5 {
    text-transform: uppercase;
    padding: 0.5rem 0;
    margin-bottom: 1.5rem;
}

section h2 {
    padding: 0.5rem 0;
    margin-bottom: 5rem;
}

section .carousel {
    margin-bottom: 4rem;
    padding: 0 1rem;
    text-align: start;
}

.row-section {
    display: flex;
    gap: 1.5rem;
}

.col-4 {
    flex-basis: calc(100% / 3);
}

.col-8 {
    flex-basis: calc(100% / 3 * 2);
}